body{
    background-color: rgb(50, 124, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#title{
    text-align: center;
    font-size: 50px;
    color: white;
    letter-spacing: 0px;
    font-weight: 900;
}
.word{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.space{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 600;
    padding-bottom: 3px;
}

#endGame{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    width: 95%;
    left: 50px;
    min-height: 95%;
    background-color: rgba(0, 0, 0, 0.646);
    z-index: 5;
}

.stats{
    width: 30%;
    height: fit-content;
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-bottom: 80px;
}
button{
    padding: 10px;
    border: none;
    background-color: rgb(47, 47, 176);
    color: white;
    font-weight: 500;
}
button:hover{
    cursor: pointer;
}
@keyframes spaceAnim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    99%{
        transform: scale(1);
    }
}